@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: #abd581;
  color: #112b40;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter, 
.fade-leave-active {
  opacity: 0;
}

.blur-enter-active,
.blur-leave-active {
  transition: all 0.4s;
}

.blur-enter-from,
.blur-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.slide-in-enter-active,
.slide-in-leave-active {
  transition: all .5s;
}
.slide-in-enter, .slide-in-leave-to /* .slide-in-leave-active in <2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}
